<h1>Normativa</h1>

@if (loadForm()) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div formArrayName="sections">
            @for (section of sectionsField.controls; track section.value.id; let i = $index) {
                <div [formGroupName]="i" class="mb-6">
                    <h3 class="text-lg font-semibold mb-4">{{ section.value.name }}</h3>

                    <div formArrayName="regulationItems">
                        @for (item of getRegulationItemsField(i).controls; track item.value.id; let j = $index) {
                            <div [formGroupName]="j" class="flex items-center justify-between">
                                <label>
                                    {{ item.value.name }}
                                    @if (item.value.score) {
                                        <span class="text-sm text-blue-600 ml-2">({{ item.value.score }} pts)</span>
                                    }
                                    @if (item.value.isMandatory) {
                                        <span class="text-red-500 ml-1">*</span>
                                    }
                                </label>

                                <p-toggleswitch formControlName="isCompliant" />
                            </div>
                            <hr />
                        }
                    </div>
                </div>
            }
        </div>

        <p-button type="submit" [disabled]="form.invalid"> Enviar </p-button>
    </form>
}
